.dropdownContainer {
  border: 1px solid var(--neutral_300);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 8px;
  width: calc(50% - 6px);
  background-color: var(--shades_0);
  outline: none;
}

.dropdownContainer.active {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease-in-out;
  border-color: var(--prim_600);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.dropdownInput {
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  cursor: pointer;
}

.dropdownSelectedValue {
  overflow-x: auto;
}
.dropdownSelectedValue::-webkit-scrollbar {
  display: none;
}
.dropdownInput .dropdownSelectedValue.placeholder {
  color: var(--neutral_300);
  padding: 4px;
}

.dropdownTool {
  display: flex;
  align-items: center;
}
.dropdownTool svg {
  transition: all 0.2s ease-in-out;
  fill: var(--neutral_300);
}

.dropdownTool svg.rotate {
  transform: rotate(180deg);
}

.dropdownMenu {
  width: calc(100% + 2px);
  padding: 5px;
  position: absolute;
  top: 100%;
  left: -1px;
  right: 0px;
  border: 1px solid var(--prim_600);
  border-radius: 0px 0px 8px 8px;
  overflow: auto;
  background-color: var(--shades_0);
  z-index: 99;
  max-height: 250px;
  min-height: 50px;
  opacity: 0;
  pointer-events: none;
}

.dropdownMenu.showMenu {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.15s ease-in-out;
}
.dropdownMenu::-webkit-scrollbar {
  width: 5px;
}

.dropdownMenu::-webkit-scrollbar-track {
  background: none;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background: var(--neutral_200);
  border-radius: 8px;
}

.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background: var(--neutral_300);
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.35s ease;
  color: var(--text_color);
  border-radius: 8px;
}

.dropdownItem:not(:last-of-type) {
  margin-bottom: 10px;
}

.dropdownItem:hover {
  background-color: rgba(130, 134, 139, 0.05);
  color: var(--prim_600);
}

.dropdownItem.selected {
  background-color: rgba(116, 94, 197, 0.075);
  color: var(--prim_600);
  font-weight: 600;
}

.dropdownTags {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.dropdownTagItem {
  background-color: var(--prim_600);
  color: var(--shades_0);
  font-size: 1rem;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: fit-content;
}

.dropdownTagClose {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

@media screen and (max-width: 515px) {
  .dropdownContainer {
    width: 100%;
  }
}
