body {
  font-family: "Cairo", Helvetica, Arial, serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text_color);
  background-color: var(--neutral_400);
  padding: 20px;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --prim_50: #edf4ff;
  --prim_100: #ccdfff;
  --prim_200: #9ec3ff;
  --prim_300: #69a3ff;
  --prim_400: #428aff;
  --prim_500: #0062ff;
  --prim_600: #745ec5;
  --prim_700: #004bc5;
  --prim_800: #00368c;
  --prim_900: #00296b;
  /* Neutral/Gray */
  --neutral_50: #f7f8fa;
  --neutral_100: #e9ebf2;
  --neutral_200: #dadfeb;
  --neutral_300: #ccd2e0;
  --neutral_400: #eff0f0;
  --neutral_500: #7280a3;
  --neutral_600: #59688e;
  --neutral_700: #324575;
  --neutral_800: #15295c;
  --neutral_900: #021442;
  /* Warning/Yellow */
  --warning_50: #fff8e6;
  --warning_100: #ffe9b0;
  --warning_200: #ffde8a;
  --warning_300: #ffcf54;
  --warning_400: #ffc533;
  --warning_500: #ffb700;
  --warning_600: #b58200;
  --warning_700: #8c6500;
  --warning_800: #664900;
  --warning_900: #332500;
  /* Success/Green */
  --success_50: #e6f8ee;
  --success_100: #d4f1e0;
  --success_200: #9de3b9;
  --success_300: #6bd696;
  --success_400: #3ac873;
  --success_500: #09ba50;
  --success_600: #079540;
  --success_700: #057030;
  --success_800: #044a20;
  --success_900: #022510;
  /* Energy/Orange */
  --energy_50: #fff1e8;
  --energy_100: #ffd4b7;
  --energy_200: #ffbf95;
  --energy_300: #ffa264;
  --energy_400: #ff9046;
  --energy_500: #ff7418;
  --energy_600: #b55211;
  --energy_700: #7a380b;
  --energy_800: #8c400d;
  --energy_900: #401d06;
  /* Error/Red */
  --error_50: #fcebe8;
  --error_100: #fad6d1;
  --error_200: #f5ada2;
  --error_300: #ef8474;
  --error_400: #ea5b45;
  --error_500: #e53217;
  --error_600: #b72812;
  --error_700: #891e0e;
  --error_800: #5c1409;
  --error_900: #2e0a05;
  /* Shades/White */
  --shades_0: #ffffff;
  /* Shades/Black */
  --shades_100: #000000;
  --text_color: #212121;
}

.el-lvl-1 {
  box-shadow: 0px 0px 0px 1px var(--neutral_100);
}
.el-lvl-2 {
  box-shadow: 0px 0px 0px 1px var(--neutral_100),
    0px 2px 6px rgba(9, 43, 76, 0.06);
}
.el-lvl-3 {
  box-shadow: 0px 0px 0px 1px var(--neutral_100),
    0px 0px 16px rgba(9, 43, 76, 0.08);
}
.el-lvl-4 {
  box-shadow: 0px 0px 0px 1px var(--neutral_100),
    0px 6px 20px rgba(9, 43, 76, 0.1);
}
.el-lvl-5 {
  box-shadow: 0px 0px 0px 1px var(--neutral_100),
    0px 8px 24px rgba(9, 43, 76, 0.12);
}
