* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text_color);
  background-color: var(--neutral_400);
}
#root {
  height: 100vh;
}

:root {
  /* Primary */
  --prim_600: #745ec5;

  /* Neutral/Gray */
  --neutral_200: #dadfeb;
  --neutral_300: #ccd2e0;
  --neutral_400: #eff0f0;
  /* Shades/White */
  --shades_0: #ffffff;
  /* Shades/Black */
  --text_color: #212121;
}
